<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoadClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LoadClient.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>ccisupportsite.com</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>cooksupport</value>
            </setting>
            <setting name="LogFileLoc" serializeAs="String">
                <value>c:\Logging\</value>
            </setting>
            <setting name="ClientLoc" serializeAs="String">
                <value>c:\CCI Sheets\</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Helpme01</value>
            </setting>
            <setting name="FileStore" serializeAs="String">
                <value>/Apps/TrainingFiles</value>
            </setting>
            <setting name="TrainDir" serializeAs="String">
                <value>c:\training\</value>
            </setting>
        </LoadClient.Properties.Settings>
    </applicationSettings>
</configuration> 