<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="CookProducts.GetProducts" value="http://www.cookconsulting.net/cciweb.nsf/GetProducts?OpenWebService"/>
		<add key="CookCustomers.GetCustomers" value="http://www.cookconsulting.net/cciweb.nsf/GetCustomers?OpenWebService"/>
		<add key="host" value="GoDaddy"/>
		<add key="webusername" value="cooksupport"/>
		<add key="webpassword" value="Helpme01"/>
		<add key="webHost" value="ftp://ccisupportsite.com"/>
		<add key="CookSingleCustomer.GetCustomersNew" value="http://www.cookconsulting.net/cciweb.nsf/GetCustomersNew?OpenWebService"/>
	</appSettings>
	<connectionStrings>
		<remove name="GoDaddy"/>
		<remove name="MainConnStr"/>
		<remove name="LocalSqlServer"/>
		<add name="Godaddy" connectionString="Data Source=mikem001.db.7260068.hostedresource.com; Initial Catalog=mikem001; User ID=mikem001; Password=Stella7;" providerName="System.Data.SqlClient"/>
		<add name="MainConnStr" connectionString="data source=mmdell\sql08r2;Initial Catalog=CCI;uid=webuser;password=password;" providerName="System.Data.SqlClient"/>
		<add name="LocalSqlServer" connectionString="Data Source=mikem001.db.7260068.hostedresource.com; Initial Catalog=mikem001; User ID=mikem001; Password=Stella7;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<roleManager enabled="true"/>
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user.  -->
		<authentication mode="None">
			<forms loginUrl="Login.aspx" protection="All" timeout="30" name="AppNameCookie" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="/Apps/Maintenance/Pages/Customers.aspx" cookieless="UseCookies" enableCrossAppRedirects="true"/>
		</authentication>
		<authorization>
      <!--<deny users="?"/>-->
			<allow users="*"/>
		</authorization>
		<membership defaultProvider="SqlServer" userIsOnlineTimeWindow="15">
			<providers>
				<add name="SqlServer" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Godaddy" applicationName="Maintenance" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed"/>
			</providers>
		</membership>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
	</system.webServer>
</configuration>
